<html>
    <head>
        
    </head>
    <body>
        <div id='main'>
            <div id='pie'>
            </div>
            <div id='ts'>
            </div>
        </div>
    </body>
    
    <!---->
    
    <!--<script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>-->
    <script src='/assets/jquery-2.1.4.min.js' type="text/javascript"></script>  
    <!--<script src='/assets/highcharts-custom.js' type="text/javascript"></script> -->
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src='/socket.io/socket.io.js'></script>
    <script>
        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });

        var ajax=function(url, options, callback){
            var xhr = new XMLHttpRequest();
            xhr.open(options.type, encodeURI(url));
            xhr.onload = function() {
                if (xhr.status === 200) {
                    if(callback){
                        callback(xhr.responseText);
                    }
                    //alert('User\'s name is ' + xhr.responseText);
                }
                else {
                    //alert('Request failed.  Returned status of ' + xhr.status);
                }
            };
            xhr.send();
        }
        var ts="";
        var pie="";


        var socket = io();
        socket.on('portVal', function(data){
            //console.log(data);
            //tsChart({x:new Date().getTime(), y:data.totalValue});
            tsChart([new Date().getTime(), data.totalValue]);
            pieChart(data.portfolioValues, data.totalValue);
        });
        var tsChart=function(data){
            if(!ts){
                data=[data];
                ts=new Highcharts.Chart({
                    chart: {
                        renderTo:'ts'
                    },
                    title:{
                        text:""
                    },
                    /*title: {
                        text: 'Portfolio',
                        align: 'center',
                        verticalAlign: 'middle',
                        y: 40
                    },*/
                    xAxis: {
                        type: 'datetime'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.y}</b>'
                    },
                    series: [{
                        type: 'line',
                        name: 'TimeSeries',
                        data: data
                    }]
                });
            }
            else{
                var shift=false;
                //console.log(ts);
                if(ts.series[0].data.length>200){
                    shift=true;
                }
                //console.log(data);
               ts.series[0].addPoint(data, true, shift);
            }
        }
        var pieChart=function(data, total){
            total=Math.round(total*5000)/5000;
            if(!pie){
                pie=new Highcharts.Chart({
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: 0,
                        plotShadow: false,
                        renderTo:'pie'
                    },
                    title: {
                        text: 'Total Value: '+total,
                        align: 'center',
                        verticalAlign: 'middle',
                        y: 40
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.y}</b>'
                    },
                    plotOptions: {
                        pie: {
                            dataLabels: {
                                enabled: true,
                                distance: -50,
                                style: {
                                    fontWeight: 'bold',
                                    color: 'white',
                                    textShadow: '0px 1px 2px black'
                                }
                            },
                            center: ['50%', '75%']
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: 'Trading Portfolio',
                        innerSize: '50%',
                        data: data
                    }]
                });
            }
            else{
                pie.series[0].setData(data);
                pie.setTitle({text:'Total Value: '+total});
            }
            
        }
        ajax('/wallet_history', {type:"post"});
        ajax('/trade_history', {type:"post"});

    </script>
</html> 
